<%= form_for(@assignment) do |f| %>

  <%= f.number_field :employee_id, :hidden => true %>
  <%= f.number_field :project_request_id, :hidden => true %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
