<p>
  <strong>Employee:</strong>
  <%= @assignment.employee_id %>
</p>

<p>
  <strong>Project request:</strong>
  <%= @assignment.project_request_id %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
