<%= form_for(@skill) do |f| %>

  <div class="field">
    <%= f.label :skill_name, 'Skill Name' %><br>
    <%= f.text_field :skill_name %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-submit' %>
  </div>
<% end %>
