<%= form_for(@department) do |f| %>

  <div class="field">
    <%= f.label :department_name, 'Department Name' %><br>
    <%= f.text_field :department_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
