<div class="row">
  <div class="col-md-12">
    <h1 class="text-left"><u>New Department</u></h1>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Back', departments_path, class: 'btn btn-danger btn-submit' %>
