<%= form_for(@title) do |f| %>

  <div class="field">
    <%= f.label :title_name, 'Title Name' %><br>
    <%= f.text_field :title_name %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-submit' %>
  </div>

<% end %>
