<div class="row">
  <div class="col-md-12">
    <h1 class="text-left"><u>Edit Title</u></h1>
  </div>
</div>

<div>
  <%= render 'shared/error_messages', obj: @title %>
</div>

<%= render 'form' %>

<%= link_to 'Back', titles_path, class: 'btn btn-danger btn-submit' %>
