<%= form_for(@location) do |f| %>

  <div class="field">
    <%= f.label :location_name, 'Location Name' %><br>
    <%= f.text_field :location_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


